.header {
    height: 230px;
    background-color: #000000;
    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 95px;
        .logo {
            margin-right: 170px;
        }
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-family: 'Montserrat';
            font-size: 20px;
            color: #ffffff;
            &__item {
                margin-right: 85px;
                height: 30px;
                padding-bottom: 5px;
            }
            &__item:hover {
                border-bottom: 2px solid white;
                cursor: pointer;
            }
            &__item:last-child {
                margin-right: 0;
            }
        }
    }
}