@font-face {
  font-family: 'Amsterdam';
  src: url("./assets/Amsterdam/amsterdam_4/Amsterdam.ttf") ;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./assets/Montserrat/Montserrat-Bold.ttf") ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  /* border: 2px solid white; */
}